@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: #c7c5da9a;
    font-family: 'Roboto', sans-serif;
    color:#291b1b;
    font-size:14px;
    
}


.wrapper{
    max-width:1110px;
    padding-left:15px;
    padding-right:15px;
    margin:0 auto;
}
.nav{
     display: flex;
     list-style-type: none;
     justify-content: center;
     padding-left: 0;
}

.nav>li{
    margin-left:10px;
    margin-right:10px;

}
.nav>li>a{
    text-decoration: none;
    color:#291b1b;

}

.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
   
}
.logo{
    color: #48484bc2;
    font-size:36px;
    font-weight: 700;
}
.banner{
    padding-top: 30px;
    padding-bottom:100px;
   
}




.slider {
    
   margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .image {
    width: 700px;
    height: 400px;
    border-radius: 10px;
    
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition-duration: 1s ease;
    
    
  }
  .grid-container {
     
      display:grid;
      grid-template-columns:repeat(5,150px);
      grid-template-rows: 90px 90px;
      grid-gap:10px;
      justify-content: center;
      margin-top: 20px;

  }
  .grid-items{
    cursor: pointer;
    border-radius: 10px;
  }
 
 
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  .image-min{
      width:150px;
      height: 90px;
      
  }
  
 

.d7 input {
   
  width: 140px;
  height: 25px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #c2bcbc;
  outline: none;
  position: relative;
  transition: .3s linear;
}





.d7{
    width:700px;
    margin: 0 auto;
    margin-top:10px;
    display: flex;
    justify-content:space-between;
}

.switch-btn {

    display: inline-block;
    width: 62px; /* ширина переключателя */
    height: 24px; /* высота переключателя */
    border-radius: 12px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */

  }
  .switch-btn::after {
    content: "";
    height: 36px; /* высота кнопки */
    width: 36px; /* ширина кнопки */
    border-radius: 18px; /* радиус кнопки */
    background: #fff; /* цвет кнопки */
    top: -6px; /* положение кнопки по вертикали относительно основы */
    left: -6px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    box-shadow: 0 0 10px 0 #999999; /* тень */
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999; /* тень */
  }
  .switch-on::after {
    left: 30px;
    background: #118c4e;
  }
  


  
.arrow-hover {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
}
.arrow-hover div {
    position: relative;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-hover div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #9fb1c0;;
    transform: rotate(45deg);
}
.arrow-hover div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #939394;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-hover:hover {
    animation: arrow-hover 1s linear infinite;
}
@keyframes arrow-hover {
    0% {
        right:0;
    }
    50% {
        right:10px;
    }
    100% {
        right:0;
    }
}
.arrow {
display: flex;
padding:0;
margin:0;
margin-top: 35px;
justify-content:center;
height: 40px;
}






.arrow-hover-right {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 20px;
    margin: 20px;
}
.arrow-hover-right div {
    position: relative;
    background-color: #c7d7e4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-hover-right div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #9fb1c0;
    transform: rotate(45deg);
}
.arrow-hover-right div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #939394;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-hover-right:hover {
    animation: arrow-hover-right 1s linear infinite;
}
@keyframes arrow-hover-right {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}
.switch-btn {

  display: inline-block;
  width: 62px; 
  height: 24px; 
  border-radius: 12px; 
  background: #bfbfbf; 
  z-index: 0;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; 
}
.switch-btn::after {
  content: "";
  height: 36px;
  width: 36px;
  border-radius: 18px; 
  background: #fff;
  top: -6px; 
  left: -6px; 
  transition-duration: 300ms; 
  box-shadow: 0 0 10px 0 #999999; 
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #fff;
  box-shadow: inset 0 0 10px 0 #999999; 
}
.switch-on::after {
  left: 30px;
  background: #292e2c;
}
.dark{
  background-color: #858492af;
 
 
}

.nav__link>:hover{
   opacity:1;
  text-decoration: underline;
 
}
.intro{
  height: 750px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.intro__title{
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  color: #291b1b;
  font-weight:bold;
  text-align: center;
  text-transform: uppercase;
}
.intro__inner{
  width:100%;
  max-width:970px;
  margin: 0 auto;
  text-align:center;
}
.intro__subtitle{
  font-size:22px;
  color: #291b1b;
  line-height: 1.5;
  font-weight:400;

}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#828282;
  padding: 15px;

}
.footer-info span{
font-size: 16px;
}
.footer-info button{
  font-size:14px;
  border-radius:20px;
  border:2px solid grey;
  background-color: transparent;
  padding:10px 25px;
  margin-left:36px;
  transition: 0.2s ease;
  cursor: pointer;

}
.footer-bottom a{
  color:#828282;
  text-decoration: none;
}
.footer-bottom p{
  margin: 0;
}
.social{
  display:flex;
  align-items:center;
  list-style-type: none;
  padding-left: 0px; 
}
.social-item{
  margin-right: 20px;
}
.social-link{
  border:2px solid #828282;
  display:block;
  width:45px;
  height:45px;
  border-radius:100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.social-youtube{
background-image: url("./image/youtube.svg");

}
.social-facebook{
  background-image: url("./image/facebook.svg");
  
  }
  .social-instagram{
    background-image: url("./image/instagram.svg");
    
    }
    .footer-top{
      display:flex;
      align-items:center;
      justify-content: space-between;
      flex-direction: column;

    }